.notifications {
    .notification {
        @include window;
        border-radius: $radius-large;
        &.critical {
            border: 0.2rem solid $red;
        }
        .content {
            .title {
                margin-right: $small-gap;
                color: $text;
                font-size: 1.1em;
            }

            .time {
                margin-right: $large-gap;
                color: transparentize($text, 0.2);
            }

            .close-button {
                background-color: $charcoal;
                border: 0.1rem solid $red;
                margin-left: $small-gap / 2;
                border-radius: 50%;
                padding: $xtra-small-gap 0;
                label {
                    font-size: 0.6rem;
                }

                &:hover {
                    background-color: $red;
                    label {
                        color: $charcoal;
                    }
                }
            }

            .description {
                font-size: 1em;
                color: transparentize($text, 0.2);
            }

            .icon {
                border-radius: $radius * 0.8;
                margin-right: $small-gap;
            }
        }

        box {
            .actions {
                margin-top: $large-gap;
                button {
                    border-radius: $radius-small + 0.2;
                    font-size: 1.2em;
                    padding: $large-gap * 0.7;
                    &:hover {
                        background-color: $peach;
                        label {
                            color: $charcoal;
                        }
                    }
                }
            }
        }
        .description {
            min-width: 20rem;
        }
    }
}
