/* ----------- Menu ----------- */
#custom-shutdown,
#custom-reboot,
#custom-suspend,
#custom-hibernate,
#custom-logout {
    font-size: 1rem;
}

#custom-shutdown {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    color: @red;
}

#custom-reboot {
    margin-right: 0.6rem;
    color: @yellow;
}

#custom-suspend {
    margin-right: 0.6rem;
    color: @green;
}

#custom-hibernate {
    margin-right: 0.6rem;
    color: @teal;
}

#custom-logout {
    color: @sapphire;
    margin-right: 0.5rem;
}

#custom-control-center {
    color: alpha(@mauve, 1);
    font-size: 1.6rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

#custom-app-menu {
    font-size: 1.25rem;
    padding-left: 0.3rem;
    color: mix(@mauve, @sapphire, 1.3);
}

/* ----------- Workspaces ----------- */
#workspaces {
    border-radius: 0.7rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0.3rem;
}

#workspaces button {
    color: @mauve;
    margin-right: 0.6rem;
    padding: 0;
    transition: 0;
}

#workspaces button box label {
    color: alpha(@lavender, 1);
    font-size: 0.75rem;
}

#workspaces button.active {
    border-radius: 0.4rem;
}

#workspaces button.active box label {
    color: @mauve;
    font-size: 1.2rem;
}

#workspaces button.empty:not(.active) box label {
    color: alpha(@lavender, 0.5);
}

/* ----------- Hardware stat ----------- */
#hardware-stat {
    border-radius: 0.7rem;
    padding-right: 0.6rem;
}

#custom-cpuicon,
#custom-diskicon,
#custom-memoryicon {
    font-size: 1rem;
}

#custom-cpuicon {
    margin-right: 0.5rem;
    color: @teal;
}

#custom-memoryicon {
    color: @sapphire;
    margin-right: 0.5rem;
}

#custom-diskicon {
    color: @sky;
}

#memory,
#disk,
#cpu {
    margin-right: 0.5rem;
}

#cpu {
    color: @teal;
    margin-right: 0.5rem;
}

#disk {
    color: @sky;
}

#memory {
    color: @sapphire;
}

#custom-updater {
    color: @blue;
    font-size: 1rem;
    margin-left: 0.5rem;
}

#keyboard-state label.locked {
    color: @blue;
    padding-right: 0.6rem;
    font-size: 1.1rem;
}

/* ----------- Tray ----------- */
#tray-drawer {
    border-radius: 0.7rem;
    margin-right: 0.6rem;
}

#custom-trayicon {
    padding: 0 0.3rem 0 0.6rem;
    border-radius: 0.65rem;
    color: @mauve;
    font-size: 1rem;
}

#tray {
    border-radius: 0.65rem;
}

#tray menu {
    background: @crust;
    border: 1px solid alpha(@charcoal, 1);
    border-radius: 5%;
}

#tray menu * {
    border-radius: 0.6rem;
    color: @text;
    margin: 0.1rem;
}

#tray menu *:hover {
    background: @pink;
    color: @text;
}
