/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color charcoal #292c3c;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family:
        JetBrainsMono NFP Medium,
        Monospace;
    font-weight: 900;
    color: @text;
}

window {
    all: unset;
}

#outer-box {
    background: rgb(17, 17, 27);
    border: 0.1rem solid @charcoal;
    box-shadow: 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding: 0.8rem;
    margin: 0.6rem;
}

#input {
    all: unset;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    min-height: 3rem;
    background-color: @base;
    border-radius: 0.8rem;
    margin-bottom: 0.6rem;
    border: 0.1rem solid @charcoal;
}

#entry {
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
}

#entry:selected {
    background-color: @base;
}

#img {
    margin-right: 0.8rem;
}

#text:selected {
    all: unset;
}
